.codenodes {
    background-color: #252525;
    stroke: rgba(200, 200, 200, 0.3);
    stroke-width: 0.5px;
}

.codenodes text {
    user-select: none;
}

.codenodes .draggable {
    cursor: move;
}

.codenodes .entity {
    border: 1px solid #171717;
    rx: 4px;
    fill: #3f3f3f;
}

.codenodes .entity text {
    fill: #dedede;
    stroke: none;
    font-size: 11px;
    pointer-events: none;
    alignment-baseline: central;
}

.codenodes .entity .title {
    fill: #dedede;
    font-size: 15px;
    pointer-events: none;
    alignment-baseline: central;
}

.codenodes .row rect {
    width: 108px;
    height: 36px;
    stroke: none;
    fill: #464646;
}

.codenodes path {
    stroke-width: 3px;
    stroke: #464646;
    fill: none;
    pointer-events: none;
}

.codenodes .row .dot {
    stroke: none;
    stroke-width: 1px;
    fill: #dd9957;
    cursor: not-allowed;
}

.codenodes .close-btn {
    stroke: none;
    stroke-width: 1px;
    fill: #dd3333;
    cursor: not-allowed;
}

.codenodes .output {
    stroke: rgba(200, 200, 200, 0.3);
    stroke-width: 1px;
    fill: #5799dd;
    cursor: pointer;
}

.codenodes .entity .output-type {
    fill: #888;
    font-size: 14px;
    pointer-events: none;
    alignment-baseline: central;
    text-anchor:end;
}

.codenodes .entity .value-type {
    fill: #888;
    pointer-events: none;
}

.codenodes .row foreignObject {
    width: 108px;
    height: 25px;
}

.codenodes .row foreignObject div {
    width: 100%;
    height: 100%;
}

.codenodes .row foreignObject div input {
    width: 94%;
    height: 100%;
    margin: 0 3%;
}

.codenodes .entity .row.title {
    font-weight: bold;
    fill: #565656;
    stroke: #171717;
}

.codenodes .entity .row.output {
    border-bottom: none;
}

input[type=text],
input[type=number] {
    background-color: transparent;
    border: none;
    outline: none;
    color: #e6e6e6;
    border-bottom: 1px solid #575757;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 4.05px 0;
    background: transparent;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5.9px;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 1px #000000, 0px 0px 0.5px #0d0d0d;
    background: #575757;
    border-radius: 25px;
    border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid rgba(0, 0, 0, 0.16);
    height: 14px;
    width: 15px;
    border-radius: 50px;
    background: #e6e6e6;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4.25px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #a1a1a1;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5.9px;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 1px #000000, 0px 0px 0.5px #0d0d0d;
    background: #575757;
    border-radius: 25px;
    border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid rgba(0, 0, 0, 0.16);
    height: 14px;
    width: 15px;
    border-radius: 50px;
    background: #e6e6e6;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5.9px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #0d0d0d;
    border: 0.2px solid #010101;
    border-radius: 50px;
    box-shadow: 0.5px 0.5px 1px #000000, 0px 0px 0.5px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #575757;
    border: 0.2px solid #010101;
    border-radius: 50px;
    box-shadow: 0.5px 0.5px 1px #000000, 0px 0px 0.5px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid rgba(0, 0, 0, 0.16);
    height: 14px;
    width: 15px;
    border-radius: 50px;
    background: #e6e6e6;
    cursor: pointer;
    height: 5.9px;
}

input[type=range]:focus::-ms-fill-lower {
    background: #575757;
}

input[type=range]:focus::-ms-fill-upper {
    background: #a1a1a1;
}